<!DOCTYPE html>
<html>
  <head>
    <title>To-Do List</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>To-Do List</h1>
    <form action="/submittodoitem" method="POST">
      <label>Item ID:</label><br />
      <input type="text" name="itemId" /><br />

      <label>Item Name:</label><br />
      <input type="text" name="itemName" required /><br />

      <label>Item Description:</label><br />
      <textarea name="itemDescription" required></textarea><br />

      <label>Item UUID:</label><br />
      <input type="text" name="itemUUID" /><br />

      <label>Item Hash:</label><br />
      <input type="text" name="itemHash" /><br />

      <button type="submit">Submit</button>
    </form>

    <hr />
    <h2>Submitted Items:</h2>
    <ul>
      {% for todo in todos %}
      <li>
        <strong>{{ todo['itemName'] }}</strong>: {{ todo['itemDescription'] }} |
        ID: {{ todo['itemId'] }} | UUID: {{ todo['itemUUID'] }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
